 body {
     font-family: 'Noto Sans TC', sans-serif;
 }

 .font-tech {
     font-family: 'Share+Tech+Mono', monospace;
 }

 @keyframes fade-in {
     from {
         opacity: 0;
         transform: translateY(10px);
     }

     to {
         opacity: 1;
         transform: translateY(0);
     }
 }

 .animate-fade-in {
     animation: fade-in 0.3s ease-out forwards;
 }

 .no-scrollbar::-webkit-scrollbar {
     display: none;
 }

 .no-scrollbar {
     scrollbar-width: none;
 }